
*{box-sizing: border-box;}

.box1{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 15px;
    padding-left: 100px;
 
}
.box2{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 255, 38);
    margin: 15px;
    padding-left: 100px;
 
}
.box3{
    width: 200px;
    height: 200px;
    background-color: rgb(214, 28, 195);
    margin: 15px;
    padding-left: 100px;
 
}
.box4{
    width: 200px;
    height: 200px;
    background-color: rgb(200, 223, 22);
    margin: 15px;
    padding-left: 100px;
 
}

.box5{
    width: 200px;
    height: 200px;
    background-color: rgb(81, 0, 255);
    margin: 15px;
    padding-left: 100px;
 
}




